nav
  .tri-pt
  .endcap
    .v-center
      img.logo(src='images/roadrunnerlogo.png')
      .info
        i.phone
        span | ?
  .sidebar
    ul
      li.heading.active  Home
      li  Computers
      li  Pricing
      li  Business Solutions
      li  Security
      li.heading Tech Tips
      li  Blog
      li.heading Contact Us
      li  Contact Form
      li  Directions
