nav
  ol.primary
    li.tech-tips  Tech Tips
    li.services.active  Services
    li.contact-us Contact Us
      
  .subnav

    ol.secondary.tech-tips
      li.active  Blog
      li  Videos
      .marker
        
    ol.secondary.services.active
      li.active  Home
      li  Computers
      li  Business Solutions
      li  Security
      li  Pricing
      .marker

    ol.secondary.contact-us
      li.active  Contact Form
      li  Directions
      .marker