$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// IMPORTS
@import "base-set.scss";
// bower:scss
@import "../bower_components/bourbon/dist/_bourbon.scss";
@import "../bower_components/neat/app/assets/stylesheets/_neat.scss";
// endbower

//opacity mixin for fixing ie
@mixin opacity($value) {
  opacity: $value;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$value * 100})";
  /* IE 5-7 */
  filter: alpha(opacity=#{$value * 100});
  /* really old safari */
  -khtml-opacity: $value;
  /* really old netscape */
  -moz-opacity: $value;
}

@mixin ie-background-cover($src) {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{$src}', sizingMethod='scale');

  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{$src}', sizingMethod='scale')";
}

// BOILERPLATE GENERATED
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
// END BOILERPLATE GENERATED

// build variables
$sidebar-width: 200px;
$iMessage-blue: #0c85ff;

// height fix
html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  
  font-size: 17px;
  
  &::-webkit-scrollbar {
    display: none;
  }
}

header, footer, .content {
  @include span-columns(12);
  padding: 10px 50px;
}

.v-center {
  display: table-cell;
  vertical-align: middle;
}

// All styles in order of appearence

header {
  @include span-columns(12);
  height: 100%;
  position: fixed;
  display: table;
  background: url('../images/bigOleBanner.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center 40%;
  
  @include ie-background-cover('../images/bigOleBanner.jpg');
  
  img {
    display: block;
    margin: 0 auto;
    
    width: 100%;
    max-width: 350px;
  }
}

.everything {
  @include span-columns(12);
  padding-left: $sidebar-width;
  
  $break-width: 1400px;
  
  @media all and (min-width: #{$break-width}) {
    .content {
      $offset: $break-width/2 - $sidebar-width;
      width: $break-width - $sidebar-width;
      left: calc(50% - #{$offset});
    }
    
    nav {
      margin-left: calc(50% - #{$break-width/2});
      
      .endcap {
        width: $break-width;
      }
    }
  }
}

nav {
  position: absolute;
  top: calc(85% - 20px);
  width: 100%;
  z-index: 1;
  
  ul {
    list-style-type: none;
    li {
      font-style: italic;
      &:hover {
        text-decoration: underline;
        color: #4c9cb5;
        cursor: pointer;
      }
      &.heading {
        position: relative;
        left: -10px;
        text-decoration: underline;
        font-style: normal;
        margin: 10px 0;
      }
    }
  }

  .tri-pt {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    width: 1px;
    border-left: 10px solid darken(white, 12%);
    border-top: 20px solid transparent;
    //border-bottom: 20px solid transparent;
    height: 101%;
    z-index: 2;
    margin-bottom: -75px;
    //transform: rotateX(180deg);
  }

  .endcap {
    position: absolute;
    left: -1 * $sidebar-width;
    top: 20px;
    width: 100%;
    height: 65px;
    margin-bottom: -75px;
    background: white;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.2),
                0px -1px 1px rgba(0,0,0,0.1);

    color: lighten(black, 25%);
    display: table;

    .logo {
      width: 150px;
      display: block;
      margin: 0 auto;
    }

    .info {
      position: absolute;
      right: 50px;
      top: 40%;
    }
  }

  .sidebar {
    position: absolute;
    top: 0;
    left: -1 * $sidebar-width;
    width: $sidebar-width;
    padding-top: 100%;
    margin-right: -1 * $sidebar-width;
    background: white;
    box-shadow: 1px 3px 3px rgba(0,0,0,0.3),
                -1px 3px 3px rgba(0,0,0,0.5);
    border-top: 1px solid rgba(0,0,0,0.2);
    float: left;

    ul {
      position: absolute;
      padding-left: 30px;
      top: 35px;
      font-size: $sidebar-width/13;
    }
  }
}

.content {
  position: absolute;
  z-index: 0;
  top: 85%;
  background: white;
  margin-top: 65px;
  width: calc(100% - #{$sidebar-width});
  height: calc(100% - 95px);
  overflow: hidden;
  padding-bottom: 0;
  box-shadow: 1px 3px 3px rgba(0,0,0,0.5);

  h1 {
    text-align: center;
    
    small {
      font-size: 60%; 
    }
  }
  
  section {
    @include span-columns(12);
    padding: 50px 0;
  
    p, ul, ol, h3, h4, h5, h6 {
      padding: 20px 0;
      position: relative;
      left: -50px;
      @include shift(2);
    }
    
    h2 {
      margin-bottom: 40px;
    }
    
    &:last-of-type {
      padding-bottom: 0;
    }
  }


  .trailed {
    position: relative;
    left: -50px;
    @include span-columns(12);
    float: none;
    &:before, &::before {
      content: '.';
      color: transparent;
      background: rgb(235, 60, 60);
      text-shadow: none;
      @include span-columns(2);
    }
  }

  .pointedly {
    position: static;
    margin-left: 0;
    text-align: center;
    &:before {
      content: '\2192';
      padding-right: 20px;
    }
    
    &:after {
      content: '\2190';
      padding-left: 20px;
    }
  }

  .third {
    @include span-columns(3.8);
    text-align: center;
    padding: 20px 0;
    span {
      display: block;
      padding: 20px 0;
    }
  }

  .half {
    @include span-columns(6);
    text-align: center;
  }

  .square {
    width: 100%;
    padding-top: 100%;
  }

  .circle {
    @extend .square;
    border-radius: 50%;
    background-color: lighten(gray, 40%);
    background-repeat: no-repeat;
  }

  .fullerback {
    position: relative;
    left: -50px;
    width: calc(100% + 100px);
  }

  .fill-bg {
    background-size: cover !important;
    background-position: 50% 50% !important;
  }

  .desktop-img {
    background: url('../images/desktop2.jpg');
  }

  .laptop-img {
    background: url('../images/laptop.jpg');
  }

  .business-img {
    background: url('../images/business.jpg');
    height: 400px;
    background-attachment: fixed;

    &+h2 {
      position: relative;
      top: -57px;
      color: white;
      text-shadow: 0px 0px 5px black;
      font-size: 2rem;
      margin-bottom: 0;
    }
  }

  .smf-img {
    background-image: url('../images/small-form-factor-3.jpg');
  }

  .storage-img {
    background: url('../images/storage.png');
  }

  .server-img {
    background: url('../images/server.jpg');
  }

}

@media screen and (min-width: 1200px) {
  .third {
    padding: 5%;
  }
  .half {
    padding-left: 10%;
    padding-right: 5%;
    &+.half {
      padding-left: 0;
      padding-right: 15%;
    }
  }
  .content section {
    p, li {
      width: 80%;
    }
  }
}

.message-bubble {
  background-color: $iMessage-blue;
  border-radius: 25px;
  width: 365px;
  min-height: 50px;
  position: relative;
  left: 40px;
  
  p {
    margin: 0;
    padding: 10px 5px !important;
    color: white; 
  }
  
  &:before {
    content: '.';
    color: transparent;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -6px;
    left: 5px;
    transform: rotateZ(10deg);
    border-left: 50px solid $iMessage-blue;
    border-bottom: 50px solid transparent;
  }
}

.contact-us {
  position: relative;
  left: -50px;
  width: calc(100% + 100px);
  max-height: 800px;
  margin: 0 auto;
  background: url('/images/call.jpg');
  background-size: 115%;
  background-position: 100% 0%;
  padding: 15% 0 40% 50%;

  i {
    padding-right: 10px;
  }
  
  a {
    color: inherit;
    &:hover {
      color: inherit;
    }
  }
  
  h2.trailed {
    color: white;
    text-shadow: 0 0 5px black;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    font-size: 2.1rem;
  }
}

.directions {
  h2 {
    margin: 15px 0 10px 0 !important;
  }
  iframe {
    @extend .fullerback;
    margin: 0;
    height: 300px;
  }
}

footer {
  @extend .fullerback;
  color: rgba(0,0,0,0.5);
  text-align: right;
}