$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// IMPORTS
@import "base-set.scss";
// bower:scss
@import "../bower_components/bourbon/dist/_bourbon.scss";
@import "../bower_components/neat/app/assets/stylesheets/_neat.scss";
// endbower

//opacity mixin for fixing ie
@mixin opacity($value) {
  opacity: $value;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$value * 100})";
  /* IE 5-7 */
  filter: alpha(opacity=#{$value * 100});
  /* really old safari */
  -khtml-opacity: $value;
  /* really old netscape */
  -moz-opacity: $value;
}

@mixin ie-background-cover($src) {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{$src}', sizingMethod='scale');

  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{$src}', sizingMethod='scale')";
}

// BOILERPLATE GENERATED
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
// END BOILERPLATE GENERATED

// height fix
html, body {
  height: 100%;
  margin: 0;
}

// sort of like fluid-container
.fullerback {
  @include span-columns(12);
  padding: 10px 50px;
}

header, footer, .content {
  @extend .fullerback;
}

.v-center {
  display: table-cell;
  vertical-align: middle;
}

header {
  @include span-columns(12);
  height: 85%;
  display: table;
  background: url('../images/bigOleBanner.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center 40%;
  
  @include ie-background-cover('../images/bigOleBanner.jpg');
  
  img {
    display: block;
    margin: 0 auto;
    
    width: 100%;
    max-width: 350px;
  }
}

.everything {
  @include span-columns(12);
  padding-left: 175px;
}

nav {
  position: fixed;
  top: 80%;
  width: 100%;
  height: 100%;
}

.tri-pt {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  width: 1px;
  border-left: 30px solid darken(white, 15%);
  border-top: 20px solid transparent;
  height: 85px;
  z-index: 2;
  margin-bottom: -75px;
}

.endcap {
  position: absolute;
  left: -175px;
  top: 20px;
  width: 100%;
  height: 65px;
  margin-bottom: -75px;
  background: white;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.3),
              0px -1px 5px rgba(0,0,0,0.3);
  
  color: lighten(black, 25%);
  display: table;
  
  .logo {
    width: 150px;
    display: block;
    margin: 0 auto;
  }
  
  .info {
    position: absolute;
    right: 50px;
    top: 40%;
  }
}

.sidebar {
  position: absolute;
  top: 0;
  left: -175px;
  width: 175px;
  height: 100%;
  margin-right: -175px;
  padding: 20px 15px;
  background: white;
  box-shadow: 3px 0 3px rgba(0,0,0,0.3);
  float: left;
}

.content {
  float: left;
  margin-top: 75px;
  width: 80%;
  & > section { 
    width: 100%;
  }
}