h1 No hype, just good, quality service.
  br
  small At Roadrunner Computers, our philosophy is simple &#8212; sell a high quality product and offer outstanding service.

h3.pointedly 
  em Customer satisfaction is our number one goal.
p Major computer companies tend to focus on using slick marketing to sell cheap, substandard "after rebate" computers. As a result, more and more people are realizing the advantages of buying a custom-built computer.

p Before you make a buying decision base on the "after rebate" price, take some time to learn more about how rebates work.

p Roadrunner Computers was created with the ambitious goal of breaking this trend to provide both quality and reliable computers. We can provide you with one of our custom built systems, or, if you prefer, we also carry select preconfigured Dell and Lenovo computers.