.fullerback.business-img.fill-bg

h2.trailed Business Solutions

p We offer special discounts on the following enterprise-level solutions:

.half
  a(href="http://2duspb1929.plpconfig.com/storage")
    .circle.storage-img.fill-bg
    span Disk Storage

.half
  a(href="http://2duspb1929.plpconfig.com/server")
    .circle.server-img.fill-bg
    span Server Solutions

//
  h3 Servers

  p Manage your business's data and information with one of our server solutions.

  a(href="http://2duspb1929.plpconfig.com/server") Compare available options.

  h3 Disk Storage

  p Never run out of memory with server storage expansion drives of all sizes.

  a(href="http://2duspb1929.plpconfig.com/storage") Take a look at our selected models.