h2 Pricing

p We stand by out prices as affordable with an emphasis on quality.

ul 
  li In-shop diagnostic fee
  li Standard virus removal
  li Computer tune-up
  li Wireless network tune-up
  li Trip charge for in-home service
  li Hourly on-site labor rate
  li Hourly in-shop labor rate
  li Evening and weekend appointments available
  li Free in-home setup of new computer systems (Johnson County only)
  