doctype html
html.no-js

  head
    meta(charset='utf-8')
    title Roadrunner Computers
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css styles/glob.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

  body
    != "<!--[if lt IE 9]>"
    p.browsehappy
      | You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    != "<![endif]-->"
    
    header
      .v-center
        img(src='images/roadrunnerlogo.png')
    
    // include nav
    include ./partials/nav.jade

    .content
      each content in content_pages
        if content.name == 'home'
          section.active#home-content(data-content="home")
            != content.raw
        else
          section(data-content="#{content.name}")
            != content.raw

    footer.fullerback
        h2. And Goodbye. &hearts;
         
    // Google Analytics
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-52091871-2','roadrunnercomputers.com');ga('send','pageview');
    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    // endbower
    // endbuild
    // build:js scripts/glob.js
    script(src='scripts/polyfills.js')
    script(src='scripts/main.js')
    // endbuild
